
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{ /*variaveis de cor*/
  --text--ligth: white;
  --text--dark: black;
}

body {
    background: black; /*definindo cor ao fundo da página*/
}

/*---------------------------- HEADER -----------------------------*/
header {
  background-color:var(--text--dark);
  box-shadow: 0px 3px 10px #464646;
  
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  width: 150px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;

}


.nav-item {
  margin: 0 20px;
}

.nav-link {
  font-family: "Rubik", sans-serif; /**/
  font-size: 20px;
  color: var(--text--ligth);
  font-weight: 600;
}

.login-button button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--text--ligth);
}

.login-button button a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--text--dark);
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif; /**/
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/*--------------------- CARROSSEL --------------------------*/
.container-carrossel{
  display: flex; /*deixando uma do lado da outra*/
  min-height: 100vh; /*vizualizar as imagens todas*/
  align-items: center; /*alinhando no centro*/
  justify-content: center; /*centralizando na div*/
}

.container{
  position: relative; /**/
  display: flex; /**/
  align-items: center; /*alinhado no centro*/
  justify-content: center; /*centralizando na div*/
  width: 300px; /*tamanho do quadro*/
}
.carrossel{
  opacity: 0; /**/
  transition: opacity .2s; /**/
  position: absolute; /**/
  width: 100%; /**/
  border-radius: 10px; /**/
}

.on{
  opacity: 1; /**/
}

#voltar, #avancar{
  width: 30px; /*tamanho dos botoes*/
  height: 30px; /*tamanho dos botoes*/
  border: none; /*tirando as bordas*/
  background-color: transparent; /*deixando transparente o fundo*/
  cursor: pointer; /*ao passar o mouse na div muda o mouse*/
}

#voltar img, #avancar img{
  width: 100%; /**/
  height: 100%; /**/

}

#voltar {
  transform: rotate(180deg); /*rotacionando a imagem*/
}

/*----------------------- SUBSECTION ----------------------*/

#informacoes{
  display: flex; /*colocando tudo em linha*/
  justify-content: center; /*tazendo todo conteudo pro centro*/
}

.texto{
  background-color: var(--text--ligth); /* definindo cor do fundo */ 
  color: var(--text--dark); /* definido a cor da letra */
  margin: 10px;
  width: 300px; /*definindo largura */
  height: 350px; /*definindo altura*/
  border-radius: 10px; /*colocando as pontas arredondadas*/
  text-align: center; /*trazendo todo o texto pro centro*/
  box-shadow: rgba(240, 46, 175, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 227, 46, 0.2) 0px 15px, rgba(46, 179, 240, 0.1) 0px 20px, rgba(46, 240, 88, 0.05) 0px 25px;
}

.texto h1{
  padding: 5px; /*afastamento das bordas*/
  font-size: 18px; /*tamanho da fonte*/
}

.texto p{
  padding: 5px; /*afastamento das bordas*/
  font-size: 14px; /*tamanho da fonte*/
}
/*---------------------------- FOOTER----------------------*/

footer{
  background-color: rgb(31, 30, 30); /**/
  color: var(--text--ligth); /**/
  font-family: "Rubik", sans-serif; /**/
  font-weight: 700; /**/
  font-size: 20px; /**/
  display: flex; /**/
  justify-content: space-around; /**/
  margin-top: 20px; /**/
  height: 150px; /**/
}

/*---------------------------- Redes Sociais ----------------------*/

.redesSociais{
  display: flex;
  justify-content: center; /**/
  align-items: center; /**/
}

.instagramLogo img{
  height: 50px; /**/
}
.youtubeLogo img{
  height: 70px; /**/
}
.instagramLink{
  margin-left: 5px; /**/
}
.youtubeLink{
  margin-left: 5px; /**/
}

.youtubeLink .tooltiptext{
  text-size-adjust: auto; /**/
}
/*---------------------------- Menssagem ----------------------*/

.contato{
  display: flex; /**/
  justify-content: center; /**/
  align-items: center; /**/
}

input {
  border-radius: 10px; /**/
}
/*---------------------------- Tooltip ----------------------*/

.tooltip {
  position: relative; /**/
  display: inline-block; /**/
  border-bottom: 1px dotted black; /**/
}

.tooltip span{
  font-size: 10px; /**/
}

.tooltip .tooltiptext {
  visibility: hidden; /**/
  width: auto; /**/
  padding: 1px 2px; /**/
  background-color: var(--text--ligth); /**/
  color:var(--text--dark); /**/
  text-align: center; /**/
  border-radius: 6px; /**/
  
  /*--------------------------POSIÇÃO DA TOOLTIP------------------- */
  position: absolute; /**/
  z-index: 1; /**/
  bottom: 100%; /**/
  left: 50%; /**/
  margin-left: -60px; /**/
}

.tooltip:hover .tooltiptext {
  visibility: visible; /* tornando visivel o texto ao passar o mouse*/
}