
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{ /*variaveis de cor*/
  --text--ligth: white;
  --text--dark: black;
}

body {
    background: black; /*definindo cor ao fundo da página*/
}

/*---------------------------- HEADER -----------------------------*/
nav{
  display: flex;/*deixando tudo em linha*/
  justify-content: space-around;/*criando espaço igual entre eles*/
  align-items: center; /*alinhando tudo no centro*/
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 20px;
}

nav img{
  height: 150px;
}
/*--------------------- CARROSSEL --------------------------*/
.container-carrossel{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center; 
}

.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.carrossel{
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on{
  opacity: 1;
}

#voltar, #avancar{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#voltar img, #avancar img{
  width: 100%;
  height: 100%;

}

#voltar {
  transform: rotate(180deg);
}

/*----------------------- SUBSECTION ----------------------*/

.menu{
  color: var(--text--ligth); /*definindo cor ao texto*/
}

#informacoes{
  display: flex; /*colocando tudo em linha*/
  justify-content: center; /*tazendo todo conteudo pro centro*/
}

.texto{
  background-color: var(--text--ligth); /* definindo cor do fundo */ 
  color: var(--text--dark); /* definido a cor da letra */
  margin: 50px; /*definido margem em volta */
  width: 300px; /*definindo largura */
  height: 350px; /*definindo altura*/
  border-radius: 10px; /*colocando as pontas arredondadas*/
  text-align: center; /*trazendo todo o texto pro centro*/
  box-shadow: rgba(240, 46, 175, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 227, 46, 0.2) 0px 15px, rgba(46, 179, 240, 0.1) 0px 20px, rgba(46, 240, 88, 0.05) 0px 25px;
}

.texto h1{
  padding: 5px; /*afastamento das bordas*/
  font-size: 18px; /*tamanho da fonte*/
}

.texto p{
  padding: 5px; /*afastamento das bordas*/
  font-size: 14px; /*tamanho da fonte*/
}
/*---------------------------- FOOTER----------------------*/

footer{
  background-color: rgb(31, 30, 30);
  color: var(--text--ligth);
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 150px;
}

/*---------------------------- Redes Sociais ----------------------*/

.redesSociais{
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagramLogo img{
  height: 50px;
}
.youtubeLogo img{
  height: 70px;
}
.instagramLink{
  margin-left: 5px;
}
.youtubeLink{
  margin-left: 5px;
}
/*---------------------------- Menssagem ----------------------*/

.contato{
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 10px;
}